<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/res_soma" method="post">
        <label for="in1">Primeiro número</label>
        <input type="number" name="n1" id="in1">

        <label for="in2">Segundo número</label>
        <input type="number" name="n2" id="in2">
        <input type="submit" value="somar">
    </form>
</body>
</html> 