@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    font-size: 16px;
}

body {
    font-family: Arial;
    background-image: linear-gradient(
        to left,
        #b3cce2,
        #D9CCC1
    );
}

h1, h2 {
    color:  #D9CCC1;
    background-color: #005eb0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: .5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.0rem;
    color:  #024059;
}

blockquote > p {
    font-family:"Tilt Neon", sans-serif;  
    line-height: 1.5;
    text-align: justify;
}

.autor, .data {
    color: darkslategray;
    font-size: .8rem;
}

.autor {
    text-align: right;
}

.data {
    text-align: left;
}

.strikethrough {
    position: relative;
}
 
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}