<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo!</title>
    <style></style>
</head>
<body>
    <header>
        <ul><a href="#">Professor</a></ul>
        <ul><a href="/historico">Aluno</a></ul>
    </header>
</body>
</html>