<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova registro</title>
</head>
<body>
    <h1>Novo registro</h1>
    
    <form action="/novo_registro" method="post">
        <label for="idisciplina">Disciplina</label>
        <input type="text" id="idisciplina" name="disciplina"><br>

        <label for="inota1">Nota 1</label>
        <input type="number" id="nota2" name="nota1" max="10" min="0"><br>

        <label for="inota2">nota2</label>
        <input type="number" id="inota2" name="nota2" max="10" min="0"><br>

        <input type="submit" value="submit">
    </form>
</body>
</html>