<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUAPI | Aluno</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="aluno-dashboard">
    <header class="header aluno-dashboard-header">
        <a href="/">SUAPI | Aluno</a>
    </header>
    <nav class="aluno-dashboard-nav sidebar-navigation">
        <ul>
            <a class="link-button" href="/">Professor</a>
            <a class="link-button" href="/aluno/historico">Aluno</a>
            <a class="link-button" href="/aluno/historico">Calendário</a>
        </ul>
    </nav>
    <main class="main aluno-dashboard-main">
        <h1>SUAPI</h1>
        <p>Controle acadêmico</p>
    </main >
</body>

</html>