<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo!</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header class="header">
        <a href="/">SUAPI</a>
        <nav>
            <ul class="navigation">
                <a class="link-button" href="#">Professor</a>
                <a class="link-button" href="/aluno">Aluno</a>
                <a class="link-button" href="/aluno">Calendário</a>
            </ul>
        </nav>
    </header>
    <main class="main">
        <h1>SUAPI</h1>
        <p>Controle acadêmico</p>
    </main >
</body>

</html>